body{
	background: #8bb0c4
}

h1{
	color: #1c1d4c;

}

h2{
	text-align: center;
}
p{
	font-family: century gothic;
}
h1{
	font-family: segoe UI black;
}
h2{
	font-family: segoe UI black;
}
h2{
	color: #1c1d4c;
}
.color{
	color: #4a2263
}
p{
	text-align: center;
}